<div class="top-member-info clearfix">
  <% if browser_not_supported? %>
    <div id="browser-warning" class="inner">
      <h4>Your web browser is not fully supported</h4>
      <h5>For the best experience please download one of the following:</h5>
      <div id="good-browsers" class="clearfix">
        <a id="firefox-is-good" href="http://www.mozilla.com/">
          <strong>Firefox</strong>
          <span>mozilla.com</span>
        </a>

          <span>google.com/chrome</span>
        </a>
      </div>
    </div>
  <% end %>
</div>

