<div id="header">
  <div class="wrapper">
    <h1 class='title'>
      <%= link_to 'My App.',
                  root_path %>
    </h1>

    <ol class="menu">
      <%= render 'shared/navigation_menu' %>
    </ol>
  </div>
</div>

